name: Daily MLBB Data Pipeline

on:
  # Define la frecuencia de ejecuci칩n diaria
  schedule:
    # Puedes usar un cron job para esto. 
    - cron: '0 0 * * *'
  # Permite ejecutar el workflow manualmente desde la interfaz de GitHub
  workflow_dispatch:

jobs:
  run_pipeline:
    runs-on: ubuntu-latest # Usa una m치quina virtual de Linux
    
    steps:
      - name: Checkout del c칩digo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Aseg칰rate de usar la versi칩n correcta 

      - name: Instalar dependencias
        
        run: pip install -r requirements.txt

      - name: 游 Ejecutar el Pipeline Diario
        
        # Asumiendo que pipeline_daily.py est치 en la ra칤z o en src/
        run: python src/pipeline_daily.py

      - name: 游 Commit y Push de los datos actualizados
        # Necesario para que el Streamlit Cloud Dashboard acceda a los archivos actualizados
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: '游뱄 ETL: Datos y reportes actualizados (Job Diario)'
          # Los archivos que generas y deben ser subidos
          file_pattern: 'data/*.csv reports/*.txt reports/*.png'